<div class="container">
  <div>
    <app-search-bar
      (movieQueryParamsEmitter)="handleSearch($event)"
    ></app-search-bar>
  </div>
  <hr />
  <div>
    @if(searchResults.page !== -1){
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="searchResults.total_pages"
      (changePage)="handlePageChange($event)"
    ></app-pagination
    >}
  </div>
  <div>
    <app-movie-result-list
      [movieResult]="searchResults"
    ></app-movie-result-list>
  </div>
  <div>
    @if(searchResults.page !== -1){
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="searchResults.total_pages"
      (changePage)="handlePageChange($event)"
    ></app-pagination
    >}
  </div>
</div>
