<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home" routerLinkActive="active">Cinemaflix</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="peliculas" routerLinkActive="active">Películas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="series" routerLinkActive="active">Series</a>
                </li>
            </ul>

            <!-- Colocar estos elementos en el extremo derecho -->
            <ul class="navbar-nav ms-auto me-5">
                <li class="nav-item" *ngIf="authService.isLoggedIn()">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ loggedInUser?.username }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" routerLink="profile" routerLinkActive="active">Perfil</a></li>
                            <li><a class="dropdown-item" routerLink="settings" routerLinkActive="active">Configuración</a></li>
                            <li><a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
                        </ul>
                    </div>
                </li>

                <!-- Mostrar enlace para iniciar sesión si no está autenticado -->
                <li class="nav-item" *ngIf="!authService.isLoggedIn()">
                    <a class="nav-link" routerLink="login" routerLinkActive="active">Iniciar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
