<div class="container">
  <div>
    <app-multi-search-bar
      (multiSearchFormEmitter)="handleSearch($event)"
    ></app-multi-search-bar>
  </div>
  <hr />
  <div>
    @if(searchResults.page !== -1){
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="searchResults.total_pages"
      (changePage)="handlePageChange($event)"
    ></app-pagination
    >}
  </div>
  <div>
    <app-multi-result-list
      [multiSearch]="searchResults"
    ></app-multi-result-list>
  </div>
  <div>
    @if(searchResults.page !== -1){
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="searchResults.total_pages"
      (changePage)="handlePageChange($event)"
    ></app-pagination
    >}
  </div>
</div>

<div class="container">
  <!-- Mostrar ambos carruseles lado a lado -->
  <div class="row g-4" *ngIf="!isSearchPerformed">
    <!-- Carrusel de Películas -->
    <div class="col-lg-6 d-flex justify-content-center">
      <div id="trendingMoviesCarousel" class="carousel slide w-100" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let movie of trendingMovies; let i = index" [ngClass]="{'active': i === 0}">
            <div class="text-center">
              <img class="img-fluid rounded w-50" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" [alt]="movie.title">
              <h5>{{ movie.title }}</h5>
              <p>{{ movie.overview | slice: 0:200 }}...</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#trendingMoviesCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#trendingMoviesCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!-- Carrusel de Series -->
    <div class="col-lg-6 d-flex justify-content-center">
      <div id="trendingSeriesCarousel" class="carousel slide w-100" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let series of trendingTv; let i = index" [ngClass]="{'active': i === 0}">
            <div class="text-center">
              <img class="img-fluid rounded w-50" [src]="'https://image.tmdb.org/t/p/w500/' + series.poster_path" [alt]="series.name">
              <h5>{{ series.name }}</h5>
              <p>{{ series.overview | slice: 0:200 }}...</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#trendingSeriesCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#trendingSeriesCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
