<div class="form-container"  style="max-width: 500px;">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="inputName" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="inputName" formControlName="name">
            <div *ngIf="signUpForm.get('name')?.invalid && signUpForm.get('name')?.touched">
                <small class="text-danger" *ngIf="signUpForm.get('name')?.errors?.['required']">El nombre es obligatorio</small>
                <small class="text-danger" *ngIf="signUpForm.get('name')?.errors?.['pattern']">Solo se permiten letras</small>
            </div>
        </div>

        <div class="mb-3">
            <label for="inputLastName" class="form-label">Apellido:</label>
            <input type="text" class="form-control" id="inputLastName" formControlName="lastName">
            <div *ngIf="signUpForm.get('lastName')?.invalid && signUpForm.get('lastName')?.touched">
                <small class="text-danger" *ngIf="signUpForm.get('lastName')?.errors?.['required']">El apellido es obligatorio</small>
                <small class="text-danger" *ngIf="signUpForm.get('lastName')?.errors?.['pattern']">Solo se permiten letras</small>
            </div>
        </div>

        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email:</label>
            <input type="email" class="form-control" id="inputEmail" formControlName="email">
            <div *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">
                <small class="text-danger" *ngIf="signUpForm.get('email')?.errors?.['required']">El email es obligatorio</small>
                <small class="text-danger" *ngIf="signUpForm.get('email')?.errors?.['email']">Formato de email invalido</small>
                <small class="text-danger" *ngIf="signUpForm.get('email')?.errors?.['emailExists']">Este mail ya tiene una cuenta asociada</small>
            </div>
        </div>

        <div class="mb-3">
            <label for="inputUsername" class="form-label">Usuario:</label>
            <input type="text" class="form-control" id="inputUsername" formControlName="username">
            <div *ngIf="signUpForm.get('username')?.invalid && signUpForm.get('username')?.touched">
                <small class="text-danger" *ngIf="signUpForm.get('username')?.errors?.['required']">El nombre de usuario es obligatorio</small>
                <small class="text-danger" *ngIf="signUpForm.get('username')?.errors?.['pattern']">Solo se permiten carácteres alfanúmericos, y carácteres especiales ', .' </small>
                <small class="text-danger" *ngIf="signUpForm.get('username')?.errors?.['usernameExists']">Este nombre de usuario no se encuentra disponible</small>
            </div>
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" id="inputPassword" formControlName="password">
            <div *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched">
                <small class="text-danger" *ngIf="signUpForm.get('password')?.errors?.['required']">La contraseña es obligatoria</small>
                <small class="text-danger" *ngIf="signUpForm.get('password')?.errors?.['minlength']">La contraseña debe ser de por lo menos 4 carácteres</small>
            </div>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirmar contraseña:</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
            <div *ngIf="signUpForm.get('confirmPassword')?.invalid && signUpForm.get('confirmPassword')?.touched">
              <small class="text-danger" *ngIf="signUpForm.get('confirmPassword')?.errors?.['required']">
                La confirmación de contraseña es obligatoria
              </small>
              <small class="text-danger" *ngIf="signUpForm.get('confirmPassword')?.hasError('passwordsMismatch') && signUpForm.get('confirmPassword')?.touched">
                Las contraseñas no coinciden
              </small>
              
            </div>
          </div>
          
          
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="terms" formControlName="terms">
            <label class="form-check-label" for="terms">Acepto los términos y condiciones</label>
            <div *ngIf="signUpForm.get('terms')?.invalid && signUpForm.get('terms')?.touched">
                <small class="text-danger">Aceptar los términos y las condiciones es un campo obligatorio</small>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="signUpForm.invalid">Submit</button>

    </form>
</div>